*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background: rgb(179, 184, 165);
    z-index: -2;
}
.Timeline{
    position: relative;
    max-width: 1200px;
    margin-left: 19%;

}

.container{
    padding: 10px 15px;
    position: relative;
    width: 50%;
    /*background: rgba(0,0,0,0.3);*/
}

.text-box{
    padding: 20px 30px ;
    background: #7f3086;
    position: relative;
    border-radius: 6px;
    font-size: 15 px ;
}

.right-container{
    left:50%;

}

.left-container{
    left: 0%;
}

.container img{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    right: -25px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -25px;
}

.Timeline::after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    background: black;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display:inline-block;
    margin-bottom: 15px;
}