*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 15px;
    position: relative;
    width: 50%;
    background: rgba(0,0,0,0.3);
}

.text-box{
    padding: 20px 30px ;
    background: #7f3086;
    position: relative;
    border-radius: 6px;
    font-size: 15 px ;
}

.right-container{
    left:50%;

}

.left-container{
    left:0;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}